@import "tailwindcss";

@theme {
--color-brand-pink: #e5c3c6;
  --color-brand-lemon: #e1e9b7;
  --color-brand-coral: #f96161;
  --color-brand-teal: #bcd2d0;
  --color-brand-sand: #d0b783;
  --color-brand-green: #8ec127;
  --color-brand-red: #d41243;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}